/*****************************
02 - Base - Color
*****************************/
.gray-bg{background-color: $color-tartiary}
.pink-bg{background-color: $color-deep-pink !important;}
.white-color{color: $color-white !important;}
.yellow-color{color: $color-deep-yellow !important;}
.yellow-bg{background-color: $color-deep-yellow !important;}

