// All Color Code
$color-primary: #0063d1;
$color-secondary: #f7f7f7;
$color-tartiary: #efefef;

$color-white: #fff;
$color-white-1: #eef0f1;
$color-white-2: #e1e1e1;
$color-white-3: #e0e0e0;

$color-deep-blue: #0055b4;
$color-deep-pink:#d1008a;
$color-deep-yellow:#e7b20f;

$color-green: #62ab00;
$color-gray: #777;
$color-gray-1: #dee2e6;
$color-gray-2: #545454;

$color-black: #000;
$color-black-1: #333;
$color-black-2: #242424;

// Social Color
$color-facebook: #3c5b9b;
$color-twitter: #40c1df;
$color-youtube: #ed3c32;
$color-gplus: #eb8314;
$color-instagram: #c619b8;

$font-primary: "Rubik", sans-serif;

